<!DOCTYPE html>
<html>
		<head>
				<meta charset ="utf-8">
				<meta name ="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
			<title> Page d'accueil</title>
		</head>
{{ include("MenuBundle:menu.html.twig") }}
			<body>
			<h1> Ceci est la page d'accueil</h1>
				
			</ul>
			</body>

			
</html>