<!DOCTYPE html>
<html>
		<head>
				<meta charset ="utf-8">
				<meta name ="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
			<title> La vue "voir"</title>
		</head>

			<body>
			<p>ici s'affiche la variable passée dans l'url : {{ id }}</p>
			<p>ici s'affiche la variable passée dans l'url : {{ id }} {{ action }}</p>
			<p> Ajouter :{{ url }}</p>
			</body>

			
</html>